/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: url('https://wallpaperaccess.com/full/343619.jpg');
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#userPhoto {
    width: 40%;
    height: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 20%;
}

#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 0 auto;
}

#userName p {
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.link {
    display: block;
    background-color: rgba(66, 110, 255, 0.2);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 10px;

}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    border: none;
}

@media screen and (max-width: 480px) {
    #userPhoto {
        width: 30%;
        height: 30%;
    }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
    #userPhoto {
        width: 21%;
        height: 21%;
    }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
    #userPhoto {
        width: 21%;
        height: 21%;
    }
}